/* ================
Base Styles 
================*/

* {
    box-sizing: border-box;
    /* border: red 1px solid; */
}

body {
    font-family: 'Merriweather', serif;
    color: rgb(126, 125, 125);
}

header {
    width: 100%;
    background-color: #1c2433;
}

main,
footer {
    width: 95%;
    margin: 0 auto;
}

h1 {
    color: #fff;
    text-transform: uppercase;
}

h2,
legend {
    color: #1c2433;
    font-weight: bold;
}

.latestnews {
    margin-bottom: 0;
    padding-bottom: 16px;
    border-bottom: #1c2433 solid 5px;
    text-align: center;
}

.section {
    border-top: #1c2433 solid 2px;
    margin-top: 1px;
}

fieldset {
    border: none;
    padding: 10px 0;
    margin: 10px 0;
}

header,
h2,
p {
    display: flex;
    justify-content: center;
}

/* ================
Media Queries 
================*/

@media (min-width: 768px) {
    
}