/* ================
Base Styles 
================*/

* {
    box-sizing: border-box;
    /* border: red 1px solid; */
}

body {
    font-family: 'Merriweather', serif;
    color: rgb(126, 125, 125);
}

header {
    width: 100%;
    background-color: #1c2433;
}

main,
footer {
    width: 95%;
    margin: 0 auto;
}

h1 {
    color: #fff;
    text-transform: uppercase;
}

h2,
legend {
    color: #1c2433;
    font-weight: bold;
}

.h2_p {
    margin-bottom: 0;
    padding-bottom: 16px;
    border-bottom: #1c2433 solid 5px;
    text-align: center;
}

.section {
    border-top: #1c2433 solid 2px;
    margin-top: 1px;
}

fieldset {
    border: none;
    padding: 10px 0;
    margin: 10px 0;
}

legend {
    padding: 5px 0;
    margin: 5px 0;
    font-size: 1.25em;
}

.info label {
    padding: 5px 0;
    margin: 5px 0;
}

.info input,
.info select {
    padding: 10px ;
    background-color: lightgray;
    border: 0;
    border-radius: 5px;
}

.info input[id="name"],
.info input[type="email"] {
    text-align: right;
}

/* ================
Flexbox Layout 
================*/

body,
header,
form,
.subsection,
.info,
.newsletter_lang,
.news,
.newsletter_format,
.format,
.textarea {
    display: flex; 
} 

body,
form,
.subsection,
.newsletter_lang,
.newsletter_format {
    flex-direction: column;
}

.news,
.format {
    align-items: center;
}

header {
    justify-content: center;
}

/* above this is new - KEEP */

h2,
p,
.info,
.textarea {
    display: flex;
}

h2,
p {
    justify-content: center;
}

.info,
.textarea {
    flex-direction: column;
}


/* ================
Media Queries 
================*/

@media (min-width: 768px) {
    
}