/* ================
Base Styles 
================*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* ================
Media Queries 
================*/

@media (min-width: 768px) {
    
}