/* ================
Base Styles 
================*/

* {
    box-sizing: border-box;
    border: red 1px solid;
}

body {
    font-family: 'Merriweather', serif;
}

header {
    width: 100%;
    background-color: #1c2433;
}

main,
footer {
    width: 95%;
    margin: 0 auto;
}

h1 {
    color: #fff;
    text-transform: uppercase;
}

.latestnews {
    margin-bottom: 0;
    padding-bottom: 16px;
    border-bottom: #1c2433 solid 5px;
}

header,
h2,
p {
    display: flex;
    justify-content: center;
}

/* ================
Media Queries 
================*/

@media (min-width: 768px) {
    
}