/* ================
Base Styles 
================*/

* {
    box-sizing: border-box;
    /* border: red 1px solid; */
}

body {
    font-family: 'Merriweather', serif;
    color: #7e7d7d;
}

header {
    width: 100%;
    background-color: #1c2433;
}

main,
footer {
    width: 95%;
    margin: 0 auto;
}

h1 {
    color: #fff;
    text-transform: uppercase;
}

h2,
legend {
    color: #1c2433;
    font-weight: bold;
}

h2 {
    margin-top: 48px;
}

.h2_p {
    margin-bottom: 0;
    padding-bottom: 48px;
    border-bottom: #1c2433 solid 5px;
    text-align: center;
}

.section {
    border-top: #1c2433 solid 2px;
    margin-top: 1px;
}

.subsection {
    border: none;
    padding: 0;
    margin: 20px 0 30px;
}

legend {
    padding: 15px 0;
    font-size: 1.4em;
}

.info input,
.info select,
textarea {
    background-color: lightgray;
    padding: 10px;
    border: 0;
    border-radius: 5px;
}

.copyright {
    font-style: italic;
}

footer {
    margin-bottom: 200px;
}

/* First Fieldset - Contact Information */

.info label {
    margin: 20px 0 10px;
}

#name,
#mail {
    text-align: right;
}

#name:focus,
#name:active,
#name:valid,
#mail:focus,
#mail:active,
#mail:valid {
    text-align: left;
}

select {
    color: #7e7d7d;
}

#zip {
    width: 50%;
}

/* Second Fieldset - Newsletter */

.newslanglabel {
    margin: 5px 0 20px;
}

.news input,
.format input {
    margin: 8px 5px;
}

.newsletter_format {
    margin-bottom: 5px;
}

.newsforlabel {
    margin: 20px 0 10px;
}

.suggestions label {
    margin: 10px 0 20px;
}

textarea {
    height: 125px;
    resize: none;
}

/* Button - Submit */

button {
    background: #47b5aa;
    color: #fff;
    height: 60px;
    border: 0;
    border-radius: 5px;
    margin: 10px 0 20px;
}

/* ================
Flexbox Layout 
================*/

body,
header,
main,
h2,
p,
form,
.subsection,
.info,
.newsletter_lang,
.news,
.newsletter_format,
.format,
.suggestions,
footer {
    display: flex; 
} 

body,
main,
form,
.subsection,
.info,
.newsletter_lang,
.newsletter_format,
.suggestions {
    flex-direction: column;
}

header,
h2,
p,
footer {
    justify-content: center;
}

.news,
.format {
    align-items: center;
}

/* ================
Media Queries 
================*/

@media (min-width: 768px) {
    
    main,
    footer {
        width: 66%;
        margin: 0 auto;
    }

    h2 {
        margin: 48px 0 10px;
    }

    .h2_p {
        padding-bottom: 48px;
    }

    .info label {
        margin: 10px 2px;
    }

    .info {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
    }

    .info select {
        height: 48px;
    }

    .info #state {
        width: 330px;
    }
    
    .info input,
    .info select {
        padding: 15px;
        flex-basis: 75%;
        /* margin-left: auto; */
    }

    footer {
        margin-bottom: 200px;
    }
}